version: "3.8"

services:
  # Front UI build tools and development server
  # NuxtJS application
  node-nuxtjs:
    ports:
      - "3000:3000"
    volumes:
      - .:/app/

  # Front UI production web server
  nginx-ui:
    ports:
      - "3001:80"
#    volumes:
#      - ./dist/:/usr/share/nginx/html/:ro

volumes:
  db-data:
